
h6{
  font-size: 0.9em;
}
.main-section{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;  
    width: 100%;
    height: 150vh;
    background-size:100% 100% !important;
  }
  .link-style{
    font-size: 0.9em;
    color: #74d18d !important;
    font-weight: 500;
  }
  .heading1{
    font-size: 1.2em;
  }
  .heading3{
    font-size: 1.1em;
    color: #111 !important;
  }
  .heading2{
    font-size: 0.7em;
  }
  
  .heading4{
    font-size: 0.8em;
  }
  
  .input-style{
    border-radius: 25px;
  }
  .btn-send{
    background-color: #74d18d;
    padding: 10px 40px;
    border-radius: 25px;
    color: white !important;
    font-weight: 600;
    font-size: 0.8em;
  }
  .btn-host{
    background-color: white;
    padding: 10px 40px;
    border-radius: 25px;
    color: #74d18d !important;
    font-weight: 600;
    font-size: 0.8em;
    width: 100%;
  }
  .btn-search{
    background-color: #74d18d;
    padding: 10px 40px;
    border-radius: 25px;
    color: white !important;
    font-weight: 600;
    font-size: 0.8em;
  }
  .color-1{
    color: #74d18d;
  }
  .color-2{
    color: #a8a8a8 !important;
  }
  .become-section{
    background-image: url(../images/become\ a\ host\ background.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
  }
  .margin-become{
  padding-top: 16rem;
   margin-bottom: 9rem;
  }
  .footer-section{
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
  }
  .copyright {
    background-color: #2a2e31;
    padding: 12px 0;
    font-size:14px;
  }
  @media (max-width: 780px){
    
      .main-section{
        background-image: url(../images/background.png);
        background-repeat: no-repeat;  
        width: 100%;
        height: 130vh;
        background-size:auto 100% !important;
      }
      .margin-become{
        padding-top: 3rem;
         margin-bottom: 9rem;
        }
        .footer-section{
          background-image: url(../images/footer.png);
          background-repeat: no-repeat;  
          width: 100%;
          background-size:auto 100% !important;
        }
    }
    
/* coustomise colloum */
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/* =======================================my trip================================ */
.sidebar {
  position: fixed;
}
.border-dash{
  border-right: 1px solid #eeee;

}
.bg-nav{
  background-color: #74d18d !important;
  color: white !important;
}
.sidebar-sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}
.text-dash{
  color: black;
  font-weight: bold;
}
.text-dash:hover{
  color: #74d18d;
  font-weight: bold;
}
.active-dash{
  color: #74d18d !important;
}
.box{
  background-color: white;
  border: 1px solid #eeee;
  color: #74d18d;
  border-radius: 50px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3.1px;
}
.box2{
  background-color: white;
  border: 1px solid #eeee;
  color: #74d18d ;
  border-radius: 50px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3.1px;
}
.color-star{
  font-size: 0.5em;
  color: #ffbc19;
}
.btn-accept{
  background-color: #74d18d;
  color: white !important;
  padding: 2px 18px;
  font-size: 0.7em;
  border-radius: 25px;
}

.btn-reject{
  background-color: #74d18d;
  color: white !important;
  padding: 2px 20px;
  font-size: 0.7em;
  border-radius: 25px;
}
.btn-view{
  background-color: #74d18d;
  color: white !important;
  padding: 1px 18px;
  font-size: 0.6em;
  border-radius: 25px;
}
.right-center{
  text-align: right;
}
.left-center{
  text-align: left;
}
.page-link {
  border-radius: 25px !important;
  background-color: transparent;
  color: #74d18d;
  border: 1px solid #74d18d;
  padding: .5rem .85rem;
}
.page-link:hover {
  border-radius: 25px !important;
  background-color: #74d18d;
  color: white;
  border: 1px solid #74d18d;
  padding: .5rem .85rem;
}
.w-resp{
  width: 85%;
}
.height-card{
  height: 10.5rem;
}
.btn-payment{
  background-color: white;
  color: black !important;
  padding: 6px 20px;
  font-size: 0.9em;
  border-radius: 25px;
  box-shadow: 0 .125rem .85rem rgba(0,0,0,.075)!important;
}
.btn-payouts{
  background-color: #74d18d;
  color: white !important;
  padding: 6px 24px;
  font-size: 0.9em;
  border-radius: 25px;
}
.margin-custom{
  margin-top: 2.5rem;
}
.lable-size{
  color: #a8a8a8;
  font-size: 0.7em;
  font-weight: bold;
}
.input-style{
  border-radius: 25px;
}
.btn-transfer{
  background-color: #74d18d;
  color: white !important;
  padding: 6px 24px;
  font-size: 0.9em;
  border-radius: 25px;
  width: 75%;
}
.thankyou{
  background-color: #74d18d;
  color: white !important;
  padding: 6px 84px;
  font-size: 0.9em;
}
.margin-tur{
  margin-top: 10rem ;
  margin-bottom: 10rem;
}
.font-tuur{
  font-size: 5rem;
}
@media(max-width:780px){
  .right-center{
    text-align: center;
  }
  .left-center{
    text-align: center;
  }
  .sidebar {
    position: relative;
  }
  .w-resp{
    width: 100%;
  }
}
button:focus,button:active {
  outline: none !important;
  box-shadow: none !important;
}
.hero1 {
  position:relative;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 34px;
  width:100% !important;
  color: #74d18d;
  font-size: 0.8em;
  box-shadow: 0 .125rem .85rem rgba(0,0,0,.075)!important;
  font-weight: 500;
}
.hero1:hover {
  position:relative;
  background-color:#74d18d;
  border: 1px solid #74d18d;
  border-radius: 25px;
  padding: 10px 34px;
  width:100% !important;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
}
.hero {
  position:relative;
  background-color:#74d18d;
  border: 1px solid #74d18d;
  border-radius: 25px;
  padding: 10px 34px;
  width:100% !important;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
}

.hero:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  z-index: 1;
  height: 0;
  border-top: solid 15px #74d18d;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}
.shadow-card{
  box-shadow: 0 .225rem .65rem rgba(0,0,0,.075)!important;
}
.active-btn{
  background-color: #74d18d;
  color: white !important;
}
/* =======================calender========================== */

.calendar, .calendar_weekdays, .calendar_content {
  max-width: 300px;
}
.calendar {
  margin: auto;
  font-family:'Muli', sans-serif;
  font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
  position: relative;
  overflow: hidden;
}
.calendar_weekdays div {
  display:inline-block;
  vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
  width: 14.28571%;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  color: #6f6f6f;
  font-size: 14px;
}
.calendar_content div {
  border: 1px solid transparent;
  float: left;
}
.calendar_content div:hover {
  border: 1px solid #dcdcdc;
  cursor: default;
}
.calendar_content div.blank:hover {
  cursor: default;
  border: 1px solid transparent;
}
.calendar_content div.past-date {
  color: #d5d5d5;
}
.calendar_content div.today {
  font-weight: bold;
  font-size: 14px;
  color: #74d18d;
  border: 1px solid #dcdcdc;
}
.calendar_content div.selected {
  background-color: #f0f0f0;
}
.calendar_header {
  width: 100%;
  text-align: center;
}
.calendar_header h2 {
  padding: 0 10px;
  font-family:'Muli', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #74d18d;
  float:left;
  width:70%;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0 10px;
}
button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  color: #dcdcdc;
  float: left;
  width:15%;
  transition: color .2s;
}
button.switch-month:hover {
  color: #74d18d;
}
/* ============================custom button=========== */
.btn-arrow-right,
.btn-arrow-left {
   position: relative;
   padding: 4px 15px;
   font-size: 0.8em;
   background-color: #212529;
   color: white;
}
.active-ar{
  background-color: #74d18d !important;
}

.btn-arrow-right {
   padding-left: 30px;
}

.btn-arrow-left {
   padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
   /* make two squares (before and after), looking similar to the button */
   
   content: "";
   position: absolute;
   top: 5px;
   /* move it down because of rounded corners */
   
   width: 18px;
   /* same as height */
   
   height: 18px;
   /* button_outer_height / sqrt(2) */
   
   background: inherit;
   /* use parent background */
   
   border: inherit;
   /* use parent border */
   
   border-left-color: transparent;
   /* hide left border */
   
   border-bottom-color: transparent;
   /* hide bottom border */
   
   border-radius: 0px 4px 0px 0px;
   /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
   
   -webkit-border-radius: 0px 4px 0px 0px;
   -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
   transform: rotate(45deg);
   /* rotate right arrow squares 45 deg to point right */
   
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
   transform: rotate(225deg);
   /* rotate left arrow squares 225 deg to point left */
   
   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   -o-transform: rotate(225deg);
   -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
   /* align the "before" square to the left */
   
   left: -10px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
   /* align the "after" square to the right */
   
   right: -10px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
   /* bring arrow pointers to front */
   
   z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
   /* hide arrow tails background */
   
   background-color: white;
}
/* ===========================custtom bstep button end ================== */
/* ======================================custom check box=================================== */

.checkbox {
  display: inline-block;
  cursor: pointer;
  font-size: 13px; line-height:18px;
 }
 
 input[type=checkbox] {
  display:none;   
 }
 
 .checkbox:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 18px;
  vertical-align: middle;
  background-color: white;
  color: #f3f3f3;
  background: url('../images/Rounded\ Rectangle\ 42\ copy\ 49.png');
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain; 
 }
 
 input[type=checkbox]:checked + .checkbox:before {
  background: url('../images/checked.png');
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  background-size: contain;
  background-repeat: no-repeat;
 
 }
 .btn-next{
  background-color: #74d18d;
  color: white !important;
  padding: 6px 24px;
  font-size: 0.9em;
  border-radius: 25px;
  width: 100%;
}